body {
	background-color: #D5E6F8;
	margin: 150px;
	border: 10px solid Black;
	border-radius: 10px;
	padding: 50px;
	
} 
h1, h3 {
    color: #288EFC;
  }
.recolor {
  color: #B1B2B4;
}

h1 {
	font-size: 64px;
	margin-bottom: -25px;
}

h2 {
	font-size: 18px;
	margin-bottom: -6px;
}

h3 {
	font-size: 26px;
	margin-bottom: -10px;
}

h4 {
	font-size: 22px;
	margin-bottom: -10px;
}
.content{
 text-align: right;
}
p{
	height: 10px;
	width: 600px;
	text-align: center;
}
.date{
	color: #F84523;
}
